myst_parser # include markdown text
sphinx_copybutton
sphinxcontrib_inlinesyntaxhighlight
sphinxemoji
sphinx-hoverxref
sphinx-autoapi
sphinx-design
sphinx-inline-tabs
sphinx-tabs
furo
graphviz
autodocsumm  # autodoc and autosummary
docstr-coverage  # docstring coverage test
sphinx
sphinxcontrib-napoleon  # google and numpy docstring style

# docutils<0.17